<!DOCTYPE html>
<html ng-app="coberturaApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="http://code.jquery.com/jquery-2.2.0.js"></script>
        <script src="./javascripts/materialize.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/fb6b07209f.js"></script>
        <script src="./lib/angular/angular.min.js"></script>
        <script src="javascripts/angular-app.js"></script>
        <script src="javascripts/sessionControllers.js"></script>
        <script src="javascripts/coberturaControllers.js"></script>
        <link rel="stylesheet" href="./stylesheets/materialize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,800" rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="./stylesheets/font-awesome.min.css">
        <link rel="stylesheet" href="./stylesheets/general.css">
        <style type"text/css">
            .white_button {
                background-color:#FFFFFF;
                color:black;
                opacity: .4;
            }
        
            /* style karen */
            /*DirBar*/
            .nopadding {
                padding: 0 !important;
                margin: 0 !important;
            }
        
            .buttonGo{
                background:url(./img/compass.png) no-repeat 0 17px;
                background-color: #FFFFFF;
                cursor:pointer;
                border:none;
                width:50px;
                border-top-right-radius:30px;
                border-bottom-right-radius:30px;
                height:60px;
                border:1px solid rgba(0,0,0,.5);
                border-left:inherit;
                display: inline-block;
                text-decoration: none;
            }
            .searchadd{
                border:1px solid rgba(0,0,0,.5);
                border-top-left-radius:30px;
                border-bottom-left-radius:30px;
                border-right:hidden;
                font-size: 20px;
                padding-left:20px;
                -webkit-box-shadow: none;
                box-shadow: none;
                height:60px;
            }
        
            .form-control:focus {
                border:1px solid rgba(0,0,0,.5);
                border-right:hidden;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        </style>
        <script>
            $('#modalCobertura').on('shown.bs.modal', function () {
                google.maps.event.trigger(map, "resize");
            });                    
        </script>
    </head>
    <body ng-controller="mainController" ng-init="isLogged()">
        <div class="container-fluid" ng-controller="coberturaController">
            <div class="row not_materialize_row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <ul id="slide-out" class="side-nav default-side-nav light-side-nav fixed" style="background-color:#1B1E39;opacity:1;font-family:HelveticaNeue;font-weight:100;padding:0;margin:0;height:100%;">
                        <div class="logo-wrapper waves-light" style="text-align:center;height:25%;display:flex;align-items:center">
                            <div style="width:100%">
                                <img id="imgPerfilBarra" class="img-circle" style="width:100px;height:100px;" ng-src="{{photo}}"/>
                                <div class="white_text" style="margin:0;padding:0;">{{nombre}}</div>
                            </div>
                        </div>
                        <ul id="Menu" class="collapsible collapsible-accordion" style="height:55%;">
                            <li>
                                <div class="collapsible-header leftbar_div" style="xtop:1px;">
                                    <a href="123456.html" style="padding-left: 0%;width: 283px;height: 35px;padding-top:3%;">Inicio</a>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header leftbar_div">
                                    <a href="cobertura.html" style="padding-left: 0%;width: 283px;height: 35px;padding-top:3%;">Cobertura</a>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header leftbar_div">
                                    <a href="foodlists.html" style="padding-left: 0%;width: 283px;height: 35px;padding-top:3%;">Foodlists</a>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header leftbar_div">
                                    Mi Perfil
                                </div>
                                <div class="collapsible-body leftbar_div" style="padding-left:70px;">
                                    <a href="ubicaciones.html" style="padding-left: 0%;height: 35px;padding-top: 3%;">Mis Ubicaciones</a>
                                </div>
                                <div class="collapsible-body leftbar_div" style="padding-left:70px;">
                                    <a href="ordenes.html" style="padding-left: 0%;height: 35px;padding-top: 3%;">Mis Órdenes - Factura</a>
                                </div>
                                <div class="collapsible-body leftbar_div" style="padding-left:70px;">
                                    <a href="formas_pago.html" style="padding-left: 0%;height: 35px;padding-top: 3%;">Formas de Pago</a>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header leftbar_div">
                                    <a href="invita.html" style="padding-left: 0%;height: 35px;padding-top: 3%;">¡Invita y come gratis!</a>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header leftbar_div">
                                    Blog
                                </div>
                            </li>
                        </ul>
                        <div style="text-align:center;">
                            <img src="img/img/instagram_icon.png" style="max-width:10%;margin:1%;">
                            <img src="img/img/facebook_icon.png" style="max-width:10%;margin:1%;">
                            <img src="img/img/email_icon.png" style="max-width:10%;margin:1%;">
                        </div>
                        <hr class="white_opacity_full" style="margin-top:10%;margin-bottom:0;padding:0;">
                        <div style="text-align:center;">
                            <a href="#" class="white_ref_simple" style="align:center">Cerrar Sesión</a>
                            <a href="#" class="white_ref_simple" style="align:center;font-size:8pt;">Reportar un problema</a>
                        </div>
                    </ul>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-top:1.8%;">
                    <div class="row not_materialize_row" style="width:98%;">
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                            <div id="map" style="width:100%;height:650px;margin-top:15px;"></div>
                        </div>        
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row row_10 not_materialize_row light_underline" style="width:98%;">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 12%; padding-left: 0%;">
                                    <span style="font-size: 25px; font-weight:600; font-stretch: ultra-expanded;">COBERTURA</span><br>
                                    <span style="font-size: 20px; font-weight:lighter;">Escribe tu direcci&oacute;n y ve el mapa para confirmar cobertura.</span>
                                </div>
                            </div>
                            <div class="row row_10 not_materialize_row" style="width:98%;">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                                    <div class="input-group" style="padding-top:25px;">
                                        <input type="text" id="dir" class="form-control searchadd" placeholder="Direcci&oacute;n" onkeypress="geocodeAddress();" ng-model="direccion">
                                        <input type="input" id="latitude" ng-model="posLat" style="display:none">
                                        <input type="input" id="longitude" ng-model="posLong" style="display:none">
                                        <input type="input" id="inside" ng-model="inside" style="display:none">
                                        <span class="input-group-btn">
                                            <button type="submit" class="buttonGo" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row row_10 not_materialize_row" style="width:98%;" ng-show="inside">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                                    <div style="padding-top:30%;">
                                        <span style="font-size: 16px; font-weight:lighter;font-stretch: ultra-expanded;">¡CONTAMOS CON COBERTURA EN TU ZONA!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row row_10 not_materialize_row" style="width:98%;" ng-hide="inside">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                                    <div style="padding-top:30%;">
                                        <span style="font-size: 16px; font-weight:lighter;font-stretch: ultra-expanded;">&iexcl;LO LAMENTAMOS!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row not_materialize_row" style="width:98%;" ng-hide="inside">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                                    <div style="padding-top:18px;">
                                        <p style="font-size: 16px; font-weight:lighter;font-stretch: ultra-expanded;line-height: 16px;">Nos encantar&iacute;a atenderte pero por ahora no tenemos cobertura en tu zona; aun as&iacute; te invitamos a registrarte para acumular beneficios.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row not_materialize_row" style="width:98%;" ng-hide="inside">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                                    <div style="padding-top:10px;">
                                        <input type="text" class="ellipse_button ellipse_input" id="email" placeholder="Email" style="height:60px;" ng-model="emailInput">
                                    </div>
                                </div>
                            </div>
                            <div class="row not_materialize_row" style="width:98%; padding-top:3%;" ng-hide="inside">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                                    <!--<span style="padding-top:14px;">
                                        <button class="ellipse_input ellipse_button white_button" type="button" style="width: 55%; padding-right:1%;float:left;text-align:initial;">NOTIFICAR COBERTURA</button>
                                    </span>-->
                                    <span style="padding-top:14px;">
                                        <button class="ellipse_input ellipse_button orange_button" type="button" style="width: 39%;padding-left:1%;float:right;" ng-click="sendCoberturaEmail()">Notificar</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
<script src="javascripts/googleMaps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNaU6RspwCSlNWc6dFPu_xewAYLCTo7Nw&signed_in=true&callback=initMap" async defer></script>
</html>
